.projects__wrapper{
   max-width: 1440px;
   margin: 0 auto;

   .projects__container{
      padding: 45px 150px;
      background-color: $white;


      & > h2{
         font-size: 32px;
         font-weight: 600;
         color: #000000;
         margin-bottom: 30px;
      }

      .projects-grid{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(4, 1fr);
         row-gap: 40px;
         column-gap: 45px;

         .project__item{
            cursor: pointer;
            background-color: #F0F5F8;

            & > img {
               max-width: 100%;
            }

            &-text{
               padding: 20px 35px;

               & > h5 {
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 20px;
                  word-wrap: break-word;
               }

               & > p {
                  font-size: 13px;
                  font-weight: 300;
                  color: rgba(0, 0, 0, 0.8);
               }
            }
         }
      }
   }
}