.sheme{
   background-color: $lightGrey;
   padding: 50px 150px;

   &__title{
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 50px;

      @media (max-width: 375px) {
         margin-top: 20px;
         font-size: 20px;
      }
   }

   &__subtitle{
      display: flex;
      flex-direction: column;
      gap: 10px;

      .top{
         display: flex;
         align-items: center;
         justify-content: space-around;

         &__garant-block{

            & > svg{
               
               path{
                  &:last-child{
                     transform: translate(45px, 46px);
                  }
               }
            }
         }
      }

      .top .top__garant-block, .bottom .bottom__garant-block{
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 140px;

         & > .img__container{
            padding: 15px 20px;
            border-radius: 50%;
            background: linear-gradient(135deg, #312EE9 0%, #8785E1 100%);
            margin-bottom: 3px;

            @media (max-width: 414px) {
               padding: 10px 15px;
            }
         }

         & > h4{
            font-weight: 700;
            font-size: 16px;

            @media (max-width: 414px) {
               font-size: 14px;
            }
         }

         & > p{
            text-align: center;
            font-weight: 500;

            @media (max-width: 414px) {
               font-size: 14px;
            }
         }

         & > svg{
            align-self: flex-end;
            margin-right: 15px;
            margin-top: 3px;

            @media (max-width: 414px) {
               width: 40%;
            }
         }
      }

      .middle{
         display: flex;
         align-items: center;
         gap: 10px;

         & > .img__container{
            width: 45px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child{
               border: 3px solid $blue;
            }

            &:last-child{
               border: 3px solid $red;
            }

            @media (max-width: 414px) {
               width: 35px;
               height: 30px;
            }
         }

         .line{
            max-width: 1200px;
            width: 1200px;
            border: 3px solid #505050;
            border-radius: 5px;
         }
      }

      .bottom{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 300px;

         &__garant-block{

            & > svg{

               path{

                  &:first-child{
                     transform: translate(0, 2px);
                  }

                  &:last-child{
                     transform: translate(45px, 0px);
                  }
               }
            }

            & > p{
               margin-bottom: 3px;
            }
         }

         @media (max-width: 1024px) {
            gap: 200px;
         }
         @media (max-width: 820px) {
            gap: 100px;
         }
         @media (max-width: 414px) {
            gap: 20px;
         }
      }
   }

   @media (max-width: 540px) {
      padding: 10px;
   }
}